<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="common_resource">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="favicon.ico" />

  <link th:href="@{/css/bootstrap.min.css(v=3.3.7)}" rel="stylesheet" />

  <link th:href="@{/css/font-awesome.min.css(v=4.4.0)}" rel="stylesheet" />

<!--  <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet">-->
<!--  <link th:href="@{/css/plugins/chosen/chosen.css}" rel="stylesheet">-->
<!--  <link th:href="@{/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet">-->
<!--  <link th:href="@{/css/plugins/cropper/cropper.min.css}" rel="stylesheet">-->
<!--  <link th:href="@{/css/plugins/switchery/switchery.css}" rel="stylesheet">-->
<!--  <link th:href="@{/css/plugins/jasny/jasny-bootstrap.min.css}" rel="stylesheet">-->
<!--  <link th:href="@{/css/plugins/nouslider/jquery.nouislider.css}" rel="stylesheet">-->
<!--  <link th:href="@{/css/plugins/datapicker/datepicker3.css}" rel="stylesheet">-->
<!--  <link th:href="@{/css/plugins/ionRangeSlider/ion.rangeSlider.css}" rel="stylesheet">-->
<!--  <link th:href="@{/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css}" rel="stylesheet">-->
<!--  <link th:href="@{/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet">-->
<!--  <link th:href="@{/css/plugins/clockpicker/clockpicker.css}" rel="stylesheet">-->

  <link th:href="@{/css/animate.css}" rel="stylesheet" />

  <link th:href="@{/css/style.css(v=4.1.0)}" rel="stylesheet" />

  <link th:href="@{/css/jquery.contextMenu.min.css}" rel="stylesheet"/>

  <!-- Data Tables -->
  <link th:href="@{/css/plugins/dataTables/dataTables.bootstrap.css}" rel="stylesheet">


  <!-- 全局js -->
  <script th:src="@{/js/jquery.min.js(v=2.1.4)}"></script>

  <script th:src="@{/js/bootstrap.min.js(v=3.3.7)}"></script>

  <script th:src="@{/js/plugins/layer/layer.min.js}"></script>


<!--  &lt;!&ndash; Chosen &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/chosen/chosen.jquery.js}"></script>-->

<!--  &lt;!&ndash; JSKnob &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/jsKnob/jquery.knob.js}"></script>-->

<!--  &lt;!&ndash; Input Mask&ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/jasny/jasny-bootstrap.min.js}"></script>-->

<!--  &lt;!&ndash; Data picker &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>-->

<!--  &lt;!&ndash; Prettyfile &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/prettyfile/bootstrap-prettyfile.js}"></script>-->

<!--  &lt;!&ndash; NouSlider &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/nouslider/jquery.nouislider.min.js}"></script>-->

<!--  &lt;!&ndash; Switchery &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/switchery/switchery.js}"></script>-->

<!--  &lt;!&ndash; IonRangeSlider &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/ionRangeSlider/ion.rangeSlider.min.js}"></script>-->

<!--  &lt;!&ndash; MENU &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>-->

<!--  &lt;!&ndash; Color picker &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/colorpicker/bootstrap-colorpicker.min.js}"></script>-->

<!--  &lt;!&ndash; Clock picker &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/clockpicker/clockpicker.js}"></script>-->

<!--  &lt;!&ndash; Image cropper &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/cropper/cropper.min.js}"></script>-->

<!--  <script th:src="@{/js/demo/form-advanced-demo.js}"></script>-->


<!--  &lt;!&ndash; Data Tables &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/dataTables/jquery.dataTables.js}"></script>-->

<!--  <script th:src="@{/js/plugins/dataTables/dataTables.bootstrap.js}"></script>-->

<!--  &lt;!&ndash; Peity &ndash;&gt;-->
<!--  <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>-->
<!--  <script th:src="@{/js/demo/peity-demo.js}"></script>-->

  <!-- 自定义js -->
  <script th:src="@{/js/content.js(v=1.0.0)}"></script>

  <!-- iCheck -->
  <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

  <!-- 欢迎信息 -->
  <script th:src="@{/js/welcome.js}"></script>

  <!-- Message: alert整合包 -->
  <script th:src="@{/js/bootstrapMessage.js}"></script>

  <!-- 引入日期插件 -->
  <script th:src="@{/js/layui/css/layui.css}" type="text/javascript"></script>
  <script th:src="@{/js/layui/layui.js}"></script>

</div>
</body>
</html>