<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Add显示页面</title>

    <div th:replace="common/common.html :: common_resource"></div>

</head>

<body class="gray-bg">

<div th:fragment="addList">
<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:64%;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-1 b-r">
                    </div>
                    <div class="col-sm-10 b-l">
                        <h3 class="m-t-none m-b" style="margin-bottom:30px"><i class="fa fa-paste"></i> 新增信息</h3>

                        <form id="formAction" action="#" name="dbform">
                            <div class="form-group">
                                <label>用户名：</label>
                                <input type="email" id="username" placeholder="请输入用户名" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>姓名：</label>
                                <input type="password" id="password" placeholder="请输入密码" class="form-control">
                            </div>
                            <div style="margin-top:20px;width:100px">
                                <button class="btn btn-sm btn-primary pull-left m-t-n-xs" type="submit">
                                    <strong>登录</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-1 b-l">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>

</html>
