<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

    <title>List显示页面</title>

    <div th:replace="common/common.html :: common_resource"></div>

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>List表格显示</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="test_list.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="margin-bottom:50px">
                        <div class="row">
                            <div class="col-sm-3 m-b-xs">
                                <a data-toggle="modal" href="test_list.html#modal-form" onclick="addForm()">
                                    <button style="width:130px" class="btn btn-outline btn-primary" type="button">
                                        <i class="fa fa-plus"></i> 新增
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" >
                                <thead>
                                    <tr style="size:24px;height:60px">
                                        <th style="text-align:center;width:30%">项目</th>
                                        <th style="text-align:center;width:10%">进度</th>
                                        <th style="text-align:center;width:10%">任务</th>
                                        <th style="text-align:center;width:20%">日期</th>
                                        <th style="text-align:center;width:30%">操作</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:center;size:18px">
                                    <tr>
                                        <td>米莫说｜MiMO Show</td>
                                        <td><span class="pie">0.52/1.561</span>
                                        </td>
                                        <td>20%</td>
                                        <td>2014.11.11</td>
                                        <td>
                                            <a data-toggle="modal" href="test_list.html#modal-form" onclick="editForm()">
                                                <button style="margin-top:10px" class="btn btn-outline btn-success " type="button">
                                                    <i class="fa fa-paste"></i> 修改
                                                </button>
                                            </a>
                                            <button style="margin-top:10px" class="btn btn-outline btn-danger  " type="button"  onclick="actions()">
                                                <i class="fa fa-warning"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>米莫说｜MiMO Show</td>
                                        <td><span class="pie">0.52/1.561</span>
                                        </td>
                                        <td>20%</td>
                                        <td>2014.11.11</td>
                                        <td>
                                            <a data-toggle="modal" href="test_list.html#modal-form">
                                                <button style="margin-top:10px" class="btn btn-outline btn-success " type="button">
                                                    <i class="fa fa-paste"></i> 修改
                                                </button>
                                            </a>
                                            <button style="margin-top:10px" class="btn btn-outline btn-danger  " type="button">
                                                <i class="fa fa-warning"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>米莫说｜MiMO Show</td>
                                        <td><span class="pie">0.52/1.561</span>
                                        </td>
                                        <td>20%</td>
                                        <td>2014.11.11</td>
                                        <td>
                                            <a th:href="@{/formTestAdd}">
                                                <button style="margin-top:10px" class="btn btn-outline btn-success " type="button">
                                                    <i class="fa fa-paste"></i> 修改
                                                </button>
                                            </a>
                                            <button style="margin-top:10px" class="btn btn-outline btn-danger  " type="button">
                                                <i class="fa fa-warning"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>米莫说｜MiMO Show</td>
                                        <td><span class="pie">0.52/1.561</span>
                                        </td>
                                        <td>20%</td>
                                        <td>2014.11.11</td>
                                        <td>
                                            <a th:href="@{/formTestAdd}">
                                                <button style="margin-top:10px" class="btn btn-outline btn-success " type="button">
                                                    <i class="fa fa-paste"></i> 修改
                                                </button>
                                            </a>
                                            <button style="margin-top:10px" class="btn btn-outline btn-danger " type="button">
                                                <i class="fa fa-warning"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>米莫说｜MiMO Show</td>
                                        <td><span class="pie">0.52/1.561</span>
                                        </td>
                                        <td>20%</td>
                                        <td>2014.11.11</td>
                                        <td>
                                            <a th:href="@{/formTestAdd}">
                                                <button style="margin-top:10px" class="btn btn-outline btn-success " type="button">
                                                    <i class="fa fa-paste"></i> 修改
                                                </button>
                                            </a>
                                            <button style="margin-top:10px" class="btn btn-outline btn-danger " type="button">
                                                <i class="fa fa-warning"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>米莫说｜MiMO Show</td>
                                        <td><span class="pie">0.52/1.561</span>
                                        </td>
                                        <td>20%</td>
                                        <td>2014.11.11</td>
                                        <td>
                                            <a th:href="@{/formTestAdd}">
                                                <button style="margin-top:10px" class="btn btn-outline btn-success " type="button">
                                                    <i class="fa fa-paste"></i> 修改
                                                </button>
                                            </a>
                                            <button style="margin-top:10px" class="btn btn-outline btn-danger " type="button">
                                                <i class="fa fa-warning"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-sm-6">
                                <div style="size:18px" class="dataTables_info" id="editable_info" role="alert" aria-live="polite" aria-relevant="all">显示 1 到 10 项，共 58 项</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button previous disabled" aria-controls="editable" tabindex="0" id="editable_previous">
                                            <a href="#">上一页</a>
                                        </li>
                                        <li class="paginate_button active" aria-controls="editable" tabindex="0">
                                            <a href="#">1</a>
                                        </li>
                                        <li class="paginate_button " aria-controls="editable" tabindex="0">
                                            <a href="#">2</a>
                                        </li>
                                        <li class="paginate_button next" aria-controls="editable" tabindex="0" id="editable_next">
                                            <a href="#">下一页</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:include="test/test_add.html :: addList"></div>

</body>
<script type="text/javascript">
    function addForm() {
        document.getElementById("username").value = '';
        document.getElementById("password").value = '';
        document.dbform.action="#";
    }
    function editForm() {
        document.getElementById("username").value = '111';
        document.getElementById("password").value = '111';
        document.dbform.action="##";
        console.log("111");
    }
    function actions() {
        console.log(document.dbform.action.valueOf());
    }
</script>
</html>
