<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>辅导员新增/修改弹窗页面</title>

    <div th:replace="common/common.html :: common_resource"></div>

</head>

<body class="gray-bg">

<div th:fragment="addInstructor">
<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:64%;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2 b-r"></div>
                    <div class="col-sm-5 b-l">
                        <h3 class="m-t-none m-b" style="margin-bottom:30px"><i class="fa fa-paste"></i> 新增(修改) 辅导员信息</h3>

                        <form th:action="@{/zjh/classes/addEditClasses}" method="post">
                            <div class="form-group">
                                <label>辅导员工号：</label>
                                <input type="text" id="instId" name="instId" placeholder="请输入辅导员工号" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>辅导员姓名：</label>
                                <input type="text" id="instName" name="instName" placeholder="请输入辅导员姓名" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">二级学院：</label>
                                <div>
                                    <select class="form-control" name="depId">
                                        <option id="selects" value="">请选择二级学院</option>
                                        <span th:each="dep : ${session.deptList}">
                                            <option th:id="${dep.getDepId()}" th:value="${dep.getDepId()}" th:text="${dep.getDepName()}" hassubinfo="true">文本</option>
                                        </span>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>联系电话：</label>
                                <input type="text" id="telephone" name="telephone" placeholder="请输入联系电话" class="form-control">
                            </div>
                            <div style="margin-top:20px;">
                                <button style="width:100px;margin-top:15px;margin-bottom:30px;"
                                        class="btn btn-sm btn-primary pull-left m-t-n-xs" type="submit">
                                    <strong>提交</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-5 b-l"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>

</html>
