<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

    <title>学生请假信息申请页面</title>

    <div th:replace="common/common.html :: common_resource"></div>

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>学生请假信息表格</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="leave_list.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                        </div>
                    </div>
                    <!-- 3D立体按钮在button的class中加入 dim -->
                    <div class="ibox-content" style="margin-bottom:50px">
                        <div class="row">
                            <div class="col-sm-3 m-b-xs">
                                <a data-toggle="modal" href="leave_list.html#modal-form" onclick="addForm()">
                                    <button style="width:130px" class="btn btn-outline btn-primary" type="button">
                                        <i class="fa fa-plus"></i> 申请请假
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" >
                                <thead>
                                    <tr style="size:24px;height:60px">
                                        <th style="text-align:center;width:10%">请假编号</th>
                                        <th style="text-align:center;width:10%">课程编码</th>
                                        <th style="text-align:center;width:10%">请假理由</th>
                                        <th style="text-align:center;width:7%">天数</th>
                                        <th style="text-align:center;width:10%">学号</th>
                                        <th style="text-align:center;width:10%">请假时间</th>
                                        <th style="text-align:center;width:8%">状态</th>
                                        <th style="text-align:center;width:10%">审核时间</th>
                                        <th style="text-align:center;max-width:10%">审核意见</th>
                                        <th style="text-align:center;width:15%">操作</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:center;size:20px;">
                                    <tr th:each="leave : ${leaveList}">
                                        <td th:text="${leave.leaveId}">请假编号</td>
                                        <td th:text="${leave.courseId}">课程编码</td>
                                        <td th:text="${leave.reason}">请假理由</td>
                                        <td th:text="${leave.dayNum}">天数</td>
                                        <td th:text="${leave.stuNo}">学号</td>
                                        <td th:text="${leave.applyTime}">请假时间</td>
                                        <span th:switch="${leave.status eq '通过'} or ${leave.status eq '拒批'}">
                                            <span th:case="true">
                                            <td th:if="${leave.status eq '通过'}" style="color:limegreen" th:text="${leave.status}">状态</td>
                                            <td th:if="${leave.status eq '拒批'}" style="color:orangered" th:text="${leave.status}">状态</td>
                                            </span>
                                            <td th:case="false" th:text="${leave.status}">状态</td>
                                        </span>
                                        <td th:text="${leave.auditTime}">审核时间</td>
                                        <td th:text="${leave.opinion}">审核意见</td>
                                        <span th:switch="${leave.status eq '拒批'} or ${leave.status eq '未审批'}">
                                            <td th:case="false">
                                                <a th:href="@{/zjh/leave/findLeaveById(index=3)}">
                                                    <button style="margin-top:10px" class="btn btn-outline btn-default " type="button" >
                                                        <i class="fa fa-warning"></i> 无效
                                                    </button>
                                                </a>
                                            </td>
                                            <td th:case="true">
                                                <a th:href="@{/zjh/leave/deleteLeaveById(index=3, leaveId = ${leave.leaveId})}">
                                                    <button style="margin-top:10px" class="btn btn-outline btn-danger " type="button" >
                                                        <i class="fa fa-warning"></i> 删除
                                                    </button>
                                                </a>
                                            </td>
                                        </span>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-sm-6">
                                <div style="size:18px" class="dataTables_info" id="editable_info" role="alert" aria-live="polite" aria-relevant="all">
                                    显示 <span th:text="(${page.current}-1)*6+1"/> 到 <span th:text="${page.current*6}"/> 项, 共 <span th:text="${numberPages}"/> 项
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                                    <span class="pagination">
                                        <!--
                                              gt：great than（大于）
                                              ge：great equal（大于等于）
                                              eq：equal（等于）
                                              lt：less than（小于）
                                              le：less equal（小于等于）
                                              ne：not equal（不等于）
                                        -->
                                        <li class="paginate_button previous" aria-controls="editable" tabindex="0" id="editable_start">
                                            <a th:href="@{/zjh/leave/nextPage(index=3)}">首页</a>
                                        </li>
                                        <li class="paginate_button previous" aria-controls="editable" tabindex="0" id="editable_previous"
                                            th:switch="${page.current} gt 1">
                                            <a th:case="true" th:href="@{/zjh/leave/nextPage(index=3, pageNumber = ${page.current}-1)}">上一页</a>
                                            <a th:case="false" th:href="@{javascript:alert('已经是第一页')}">上一页</a>
                                        </li>
                                        <li th:if="${page.current} gt 3">
                                            . . .
                                        </li>
                                    </span>
                                    <span class="pagination" th:each="status,iterStat:${pagesList}"
                                          th:switch="${page.current eq iterStat.count}">
                                        <li class="paginate_button active disabled" aria-controls="editable" tabindex="0" th:case="true">
                                            <span th:text="${iterStat.count}"></span>
                                        </li>
                                        <li class="paginate_button" aria-controls="editable" tabindex="0" th:case="false" th:if="${page.current} ne ${iterStat.count}">
                                            <a th:if="${page.current + 2 >= iterStat.count && page.current - 2 <= iterStat.count}"
                                               th:href="@{/zjh/leave/nextPage(index=3, pageNumber = ${iterStat.count})}">
                                                <span th:text="${iterStat.count}"></span>
                                            </a>
                                        </li>
                                    </span>
                                    <span class="pagination">
                                        <li th:if="${pages - page.current} gt 2">
                                            . . .
                                        </li>
                                        <li class="paginate_button next" aria-controls="editable" tabindex="0" id="editable_end"
                                            th:switch="${page.current} lt ${pages}">
                                            <a th:case="true" th:href="@{/zjh/leave/nextPage(index=3, pageNumber = ${page.current}+1)}">下一页</a>
                                            <a th:case="false" th:href="@{javascript:alert('已经是最后一页')}">下一页</a>
                                        </li>
                                        <li >
                                            <a th:href="@{/zjh/leave/nextPage(index=3, pageNumber = ${pages})}">尾页</a>
                                        </li>
                                    </span>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:include="leave/leave_add_user.html :: addLeave"></div>

</body>
<script type="text/javascript">
    function addForm() {
        var timestamp = new Date().getTime();
        console.log("timestamp = " + timestamp);
        var mun = parseInt(Math.random()*900 + 100) + "";
        console.log("mun = " + mun);
        document.getElementById("leaveId").value = 'WZ' + timestamp + mun;
        $("#selects").prop("selected",true);
        document.getElementById("reason").value = '';
        document.getElementById("dayNum").value = '';
        document.getElementById("stuNo").value = '';
        document.getElementById("applyTime").value = '';
        document.getElementById('leaveId').readOnly = true;
    }
</script>
<script type="text/javascript">
    window.onload=function(){
        console.log("参数: " + '[[${result}]]')
        switch ("[[${session.result}]]") {
            case "addTrue":
                Message('success', '√ -请假申请提交成功!!!', 2000);
                break;
            case "addFalse":
                Message('error', 'x -请假申请提交失败!!!', 2000);
                break;
            case "deleteTrue":
                Message('success', '√ -删除成功!!!', 2000);
                break;
            default:
                break;
        }
        if(0 == "[[${pages}]]"){
            Message('error', '数据数量为零!!!', 2000);
        }

    };
</script>
</html>
