<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

    <title>用户信息显示页面</title>

    <div th:replace="common/common.html :: common_resource"></div>

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户信息表格</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="user_list.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                        </div>
                    </div>
                    <!-- 3D立体按钮在button的class中加入 dim -->
                    <div class="ibox-content" style="margin-bottom:50px">
                        <div class="row">
                            <div class="col-sm-3 m-b-xs">
                                <a data-toggle="modal" href="user_list.html#modal-form" onclick="addForm()">
                                    <button style="width:130px" class="btn btn-outline btn-primary" type="button">
                                        <i class="fa fa-plus"></i> 新增用户
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" >
                                <thead>
                                    <tr style="size:24px;height:60px">
                                        <th style="text-align:center;width:20%">账号</th>
                                        <th style="text-align:center;width:20%">姓名</th>
                                        <th style="text-align:center;width:30%">电话</th>
                                        <th style="text-align:center;width:30%">操作</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:center;size:18px">
                                    <tr th:each="user : ${userList}">
                                        <td th:text="${user.userId}">账号</td>
                                        <td th:text="${user.fullName}">姓名</td>
                                        <td th:text="${user.telephone}">电话</td>
                                        <td>
                                            <a data-toggle="modal" href="user_list.html#modal-form"
                                               th:data-userId="${user.userId}"
                                               th:data-fullName="${user.fullName}"
                                               th:data-password="${user.password}"
                                               th:data-telephone="${user.telephone}"
                                               onclick="editForm(this.getAttribute('data-userId'),
                                               this.getAttribute('data-fullName'),
                                               this.getAttribute('data-password'),
                                               this.getAttribute('data-telephone'))">
                                                <button style="margin-top:10px" class="btn btn-outline btn-success" type="button">
                                                    <i class="fa fa-paste"></i> 修改
                                                </button>
                                            </a>
                                            <a th:href="@{/zjh/user/deleteUserById(userId = ${user.userId})}">
                                                <button style="margin-top:10px" class="btn btn-outline btn-danger " type="button" >
                                                    <i class="fa fa-warning"></i> 删除
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-sm-6">
                                <div style="size:18px" class="dataTables_info" id="editable_info" role="alert" aria-live="polite" aria-relevant="all">
                                    显示 <span th:text="(${page.current}-1)*6+1"/> 到 <span th:text="${page.current*6}"/> 项, 共 <span th:text="${numberPages}"/> 项
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                                    <span class="pagination">
                                        <!--
                                              gt：great than（大于）
                                              ge：great equal（大于等于）
                                              eq：equal（等于）
                                              lt：less than（小于）
                                              le：less equal（小于等于）
                                              ne：not equal（不等于）
                                        -->
                                        <li class="paginate_button previous" aria-controls="editable" tabindex="0" id="editable_start">
                                            <a th:href="@{/zjh/user/nextPage}">首页</a>
                                        </li>
                                        <li class="paginate_button previous" aria-controls="editable" tabindex="0" id="editable_previous"
                                            th:switch="${page.current} gt 1">
                                            <a th:case="true" th:href="@{/zjh/user/nextPage(pageNumber = ${page.current}-1)}">上一页</a>
                                            <a th:case="false" th:href="@{javascript:alert('已经是第一页')}">上一页</a>
                                        </li>
                                        <li th:if="${page.current} gt 3">
                                            . . .
                                        </li>
                                    </span>
                                    <span class="pagination" th:each="status,iterStat:${pagesList}"
                                          th:switch="${page.current eq iterStat.count}">
                                        <li class="paginate_button active disabled" aria-controls="editable" tabindex="0" th:case="true">
                                            <span th:text="${iterStat.count}"></span>
                                        </li>
                                        <li class="paginate_button" aria-controls="editable" tabindex="0" th:case="false" th:if="${page.current} ne ${iterStat.count}">
                                            <a th:if="${page.current + 2 >= iterStat.count && page.current - 2 <= iterStat.count}"
                                               th:href="@{/zjh/user/nextPage(pageNumber = ${iterStat.count})}">
                                                <span th:text="${iterStat.count}"></span>
                                            </a>
                                        </li>
                                    </span>
                                    <span class="pagination">
                                        <li th:if="${pages - page.current} gt 2">
                                            . . .
                                        </li>
                                        <li class="paginate_button next" aria-controls="editable" tabindex="0" id="editable_end"
                                            th:switch="${page.current} lt ${pages}">
                                            <a th:case="true" th:href="@{/zjh/user/nextPage(pageNumber = ${page.current}+1)}">下一页</a>
                                            <a th:case="false" th:href="@{javascript:alert('已经是最后一页')}">下一页</a>
                                        </li>
                                        <li >
                                            <a th:href="@{/zjh/user/nextPage(pageNumber = ${pages})}">尾页</a>
                                        </li>
                                    </span>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:include="user/user_add.html :: addUser"></div>

</body>
<script type="text/javascript">
    function addForm() {
        document.getElementById("userId").value = '';
        document.getElementById("fullName1").checked = false;
        document.getElementById("fullName2").checked = false;
        document.getElementById("fullName3").checked = true;
        document.getElementById("password").value = '';
        document.getElementById("telephone").value = '';
        document.getElementById('userId').readOnly = false;
    }
    function editForm(userId, fullName, password, telephone) {
        document.getElementById("userId").value = userId;
        if(fullName == "超级管理员") {
            document.getElementById("fullName1").checked = true;
            document.getElementById("fullName2").checked = false;
            document.getElementById("fullName3").checked = false;
        }else if (fullName == "辅导员") {
            document.getElementById("fullName1").checked = false;
            document.getElementById("fullName2").checked = true;
            document.getElementById("fullName3").checked = false;
        }else if (fullName == "学生") {
            document.getElementById("fullName1").checked = false;
            document.getElementById("fullName2").checked = false;
            document.getElementById("fullName3").checked = true;
        };
        document.getElementById("password").value = password;
        document.getElementById("telephone").value = telephone;
        document.getElementById('userId').readOnly = true;
    }
</script>
<script type="text/javascript">
    window.onload=function(){
        console.log("参数: " + '[[${session.result}]]')
        switch ("[[${session.result}]]") {
            case "addTrue":
                Message('success', '√ -添加成功!!!', 2000);
                break;
            case "addFalse":
                Message('error', 'x -添加失败,已存在该用户!!!', 2000);
                break;
            case "editTrue":
                Message('success', '√ -修改成功!!!', 2000);
                break;
            case "editFalse":
                Message('error', 'x -修改失败!!!', 2000);
                break;
            case "deleteTrue":
                Message('success', '√ -删除成功!!!', 2000);
                break;
            default:
                break;
        }
        if(0 == "[[${pages}]]"){
            Message('error', '数据数量为零!!!', 2000);
        }

    };
</script>
</html>
