<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>405 页面</title>

    <div th:replace="common/common.html :: common_resource"></div>

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面出错了！</h3>

        <div class="error-desc">
            抱歉，页面好像出错了~
        </div>
    </div>

</body>

</html>
