<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.leave.dao.CourseMapper">

    <select id="findCourseById" resultType="Course" parameterType="Course">
        select * from course where course_id = #{courseId}
    </select>

    <select id="findCourseAll" resultType="Course">
        select * from course
    </select>

    <select id="selectCoursePage" resultType="Course">
        select * from course ${ew.customSqlSegment}
    </select>


    <insert id="addCourse" parameterType="Course">
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            course_id,
            <if test="classId != null and classId != ''">
                class_id,
            </if>
            <if test="courseName != null and courseName != ''">
                course_name,
            </if>
            <if test="year != null and year != ''">
                year,
            </if>
            <if test="term != null and term != ''">
                term,
            </if>
            <if test="hour != null">
                hour,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            #{courseId},
            <if test="classId != null and classId != ''">
                #{classId},
            </if>
            <if test="courseName != null and courseName != ''">
                #{courseName},
            </if>
            <if test="year != null and year != ''">
                #{year},
            </if>
            <if test="term != null and term != ''">
                #{term},
            </if>
            <if test="hour != null">
                #{hour},
            </if>
        </trim>
    </insert>

    <update id="updateCourseById" parameterType="Course">
        update course
        <set>
            <if test="classId != null and classId != ''">
                class_id=#{classId},
            </if>
            <if test="courseName != null and courseName != ''">
                course_name=#{courseName},
            </if>
            <if test="year != null and year != ''">
                year= #{year},
            </if>
            <if test="term != null and term != ''">
                term=#{term},
            </if>
            <if test="hour != null">
                hour=#{hour},
            </if>
        </set>
        where course_id=#{courseId}
    </update>

    <delete id="deleteCourseById"  parameterType="Course">
        delete from course where course_id=#{courseId}
    </delete>
    
</mapper>
