<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.leave.dao.DepMapper">

    <select id="findDepById" resultType="Department" parameterType="Department">
        select * from department where dep_id = #{depId}
    </select>

    <select id="findDepAll" resultType="Department">
        select * from department
    </select>

    <select id="selectDepPage" resultType="Department">
        select * from department ${ew.customSqlSegment}
    </select>


    <insert id="addDep" parameterType="Department">
        insert into department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            dep_id,
            <if test="depName != null and depName != ''">
                dep_name,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            #{depId},
            <if test="depName != null and depName != ''">
                #{depName},
            </if>
        </trim>
    </insert>

    <update id="updateDepById" parameterType="Department">
        update department
        <set>
            <if test="depName != null and depName != ''">
                dep_name=#{depName},
            </if>
        </set>
        where dep_id=#{depId}
    </update>

    <delete id="deleteDepById"  parameterType="Department">
        delete from department where dep_id=#{depId}
    </delete>

</mapper>
