<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.leave.dao.InstructorMapper">

    <select id="findInstructorById" resultType="Instructor" parameterType="Instructor">
        select * from instructor where inst_id = #{instId}
    </select>

    <select id="findInstructorAll" resultType="Instructor">
        select * from instructor
    </select>

    <select id="selectInstructorPage" resultType="Instructor">
        select * from instructor ${ew.customSqlSegment}
    </select>


    <insert id="addInstructor" parameterType="Instructor">
        insert into instructor
        <trim prefix="(" suffix=")" suffixOverrides=",">
               inst_id,
            <if test="instName != null and instName != ''">
                inst_name,
            </if>
            <if test="depId != null and depId != ''">
                dep_id,
            </if>
            <if test="telephone != null and telephone != ''">
                telephone,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            #{instId},
            <if test="instName != null and instName != ''">
                #{instName},
            </if>
            <if test="depId != null and depId != ''">
                #{depId},
            </if>
            <if test="telephone != null and telephone != ''">
                #{telephone},
            </if>
        </trim>
    </insert>

    <update id="updateInstructorById" parameterType="Instructor">
        update instructor
        <set>
            <if test="instName != null and instName != ''">
                inst_name=#{instName},
            </if>
            <if test="depId != null and depId != ''">
                dep_id=#{depId},
            </if>
            <if test="telephone != null and telephone != ''">
                telephone=#{telephone},
            </if>
        </set>
        where inst_id=#{instId}
    </update>

    <delete id="deleteInstructorById"  parameterType="Instructor">
        delete from instructor where inst_id=#{instId}
    </delete>
    
</mapper>
